@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> PraBho's Simple <b>Asp.Net</b> Web App - 1 </p>
    <p> Direct published from Visual Studio - 1 </p>
    <p> On Linux based Web App - 1 </p>
</div>
