@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> PraBho's Simple <b>MVC</b> Web App - 2 </p>
    <p> Direct published from Visual Studio - 2 </p>
    <p> On Linux based Web App - 2 </p>
</div>
